body{
    min-height: 2000px;
    direction: rtl;
}
@font-face {
    font-family: Ace;
    src: url('../fonts/eng/Ace\ Records.ttf');
}
@font-face {
    font-family: Iran-Sans;
    src: url('../fonts/fa/IRAN\ Sans\ Regular.ttf');
}
@font-face {
    font-family: Anton;
    src: url();
}
div.parallax-1{
    width: 100%;
    height: 1000px;
    background-image: url('../images/Parallax1.jpg');
    background-size: cover;
    background-attachment: fixed;
}
div.parallax-2{
    width: 100%;
    height: 1000px;
    background-image: url('../images/Parallax2.png');
    background-size: cover;
    background-attachment: fixed;
}
div.parallax-1>h1{
    font-family: Ace;
    font-size: 45px;
    text-align: center;
    color:crimson ;
}
div.parallax-1>p{
    font-family: Iran-Sans;
    font-size: 30px;
    color: whitesmoke;
}
div.parallax-2{
    font-family: Iran-Sans;
    font-size: 30px;
}
div.gallery{
    background-color:#9199be;
    }
    div.gallery>*{
        width: 170px;
        height: 100px;
        background-size: cover;
        display: inline-block;
        margin-right: 8px;
    
    }
    div.gallery>div.gallery1-1{
        background-image: url('../images/Gallery1.jpg');
    }
    div.gallery>div.gallery1-2{
        background-image: url('../images/Gallery2.jpg');
    }
    div.gallery>div.gallery1-3{
        background-image: url('../images/Gallery3.jpg');
    }
    div.gallery>div.gallery1-4{
        background-image: url('../images/gallery4.jfif');
    }
    div.gallery>div.gallery1-5{
        background-image: url('../images/Gallery5.jpg');
    }
    div.gallery>div.gallery1-6{
        background-image: url('../images/Gallery6.jpg');
    }
    div.gallery>div.gallery1-7{
        background-image: url('../images/Gallery7.jpg');
    }
    div.gallery>div.gallery1-8{
        background-image: url('../images/Gallery8.jpg');
    }
    div.footer{
        width: 100%;
        height: auto;
        background-color: #57678f;
    }
    div.footer>*{
        font-family: Anton;
        font-size: 30px;
    margin-right: 250px;
    color: whitesmoke;
    }